.vs/
Library/
Logs/
Temp/
UserSettings/
obj/
*.csproj
*.sln
.vsconfig


Assets/Inguz Media Studio/The Amazing Solar System/Sprites/Galaxy01.psd
Assets/Inguz Media Studio/The Amazing Solar System/Sprites/Nebula01/Nebula01.psd
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-10_0_1.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-10_0_1.bundle.meta
Assets/_Creepy_Cat/_3D Showroom Free/_Textures/Hard_Surface_01_Metal.tif
Assets/_Creepy_Cat/_3D Showroom Free/_Textures/Hard_Surface_01_Metal.tif
Assets/_Creepy_Cat/_3D Showroom Free/_Textures/Hard_Surface_01_Metal.tif.meta
Assets/Inguz Media Studio/The Amazing Solar System/Sprites/Nebula01/Nebula01.psd.meta
Assets/Inguz Media Studio/The Amazing Solar System/Sprites/Galaxy01.psd.meta
